@charset "utf-8";
main{
    width: 600px;
    margin: auto;
}
footer,section,article,header{
    border: 1px solid gray;
    padding: 10px;
    background: #fffcff;
}
aside{
    background: #fffcff; 
}
body{
    background-image: url(kepek/2.png);
}
table{
    width: 100%;
    border: 1px solid gray;
    border-collapse: collapse;

}
td,th,tr{
    border: 1px solid gray;

}
th{
    background: #e6ccff;
}
tr:nth-child(even) td{
    background: #f7f0ff;
}
.torloGomb{
    margin: 5px;
    width: 70px;
}
fieldset div{
    display: grid;
    grid-template-columns: 100px auto;
    margin: 3px;
}
fieldset h1{
    font-size: 30px;
    font-family: 'Amatic SC', cursive;
}
label{
    text-align: right;
    padding-right: 5px; 
}
#OK{
    width: 100px;
    float: right;
    margin: 5px;

}
header h1{
    text-align: center;
    color: white;
    font-size: 45px;
    font-family: 'Amatic SC', cursive;
}
header { 
    background-image: url("kepek/1.png"); 
    height: 150px;
    background-size:cover;
}
footer{
    text-align: center;
}
